
.container {
    background-color: #fff;
    border: 2px solid black;
    /*width: 100%;*/
    margin: 5px auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container label {
    overflow-wrap: anywhere;
}

.container label input {
    margin-right: 10px;
    max-width: 440px;
}

/*.container .done span {*/
/*    text-decoration: line-through;*/

/*}*/

.done {
    text-decoration: line-through;
}

.spanSelect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btn {
    margin-left: 10px;
    margin-right: 2px;
    min-width: 35px;
    text-align: center;
    cursor: pointer;

}

.logo {
    width: 20px;
    height: 20px;
}

.todoText {
    width: 100%;
    display: flex;
    align-items: center;
}

.inputForValue {
    width: 100%;
    padding: 5px;
    font-size: 16px;

    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

/*.labelForCheckbox .checkbox {*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    opacity: 0;*/
/*}*/

/*.spanSelect {*/

/*    display: inline-block;*/
/*    position: relative;*/
/*    padding-left: 30px;*/

/*}*/

/*.spanSelect:before {*/
/*    content: "";*/
/*    border: 1px solid black;*/
/*    display: inline-block;*/
/*    width: 22px;*/
/*    height: 22px;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    transition: background 0.3s ease;*/
/*    background-color: #fff;*/


/*}*/

/*.checkbox:checked + spanSelect:before {*/
/*    background-image: url("../../assets/correct-mark.png");*/
/*    background-repeat: no-repeat;*/
/*    background-position: center center;*/
/*    background-size: 50% 50%;*/
/*}*/